<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/users/info', user: @record.user %>

    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Record detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= image_tag @record.get_image, size:"100x100" %><br>
            <%= l @record.created_at %><br>
            <div class=<%= "favorite-" + @record.id.to_s %> >
              <%= render "public/favorites/btn", record: @record %>
            </div>
          </td>
          <td><%= @record.title %></td>
          <td><%= @record.body %></td>
          <td class="record-comments-counter">
            <%#= render "record_comments/counter", record: @record %>
          </td>
          <% if @record.user == current_user %>
            <td><%= link_to 'Edit', edit_record_path(@record), class: "btn btn-sm btn-success edit_record_#{@record.id}" %></td>
            <td><%= link_to 'Destroy', @record, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_record_#{@record.id}" %></td>
          <% end %>
        </tr>
      </table>

      <div class="record-comments-index">
        <%#= render "record_comments/index", record: @record %>
      </div>

      <%#= render "record_comments/form", record: @record, record_comment: @record_comment %>

    </div>
  </div>
</div>