<h2>User info</h2>
<table class='table'>
  <tr><%= image_tag @user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to @user.followees.count, user_followees_path(@user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
  </tr>
</table>

<div class='row'>

</div>