<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to (user) do %>
            <%= image_tag user.get_profile_image, size: '50x50' %>
          <% end %>
        </td>
        <td>
          <%= link_to(user) do %>
            <%= user.name %></td>
          <% end %>
        <td><%= user.introduction %></td>
        <td><%= render "public/relationships/btn", user: user %></td>
      </tr>
    <% end %>
    <%= paginate users %>
  </tbody>
</table>